.merriweather-normal {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 1320px;
}


/* First Section........................................ */
.first-sec {
    font-family: "Merriweather", serif;
    background-image: linear-gradient(180.00deg,
            rgb(7, 2, 17),
            rgba(7, 2, 17, 0) 100%),
        url(../images/Banner\ Image.png);
    color: white;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    border-radius: 16px;
    text-align: center;
}

.fpage-title {
    font-size: 32px;
    font-weight: 400;
}

.fapge-para {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
}


/* Second Section................................... */
.second-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spage-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.spage-para-1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.spage-para-2 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 5px;
    letter-spacing: 0%;
    text-align: center;
}

.second-sec img {
    margin-top: 48px;
}

/* Third Section................................ */
.third-sec {
    background-image: linear-gradient(90.00deg,
            rgb(7, 2, 17),
            rgba(7, 2, 17, 0) 100%),
        url(../images/Vectorrr.png);
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.third-content {
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-content a {
    text-align: left;
}


.third-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    text-align: left;
}

.third-para {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.third-image {
    padding: 75px;
    height: 460px;
    width: 320px;
}

.third-link {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}


/* Fourth Section.................................... */
.fourth-sec {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth-layout {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.special-character {
    color: #FF0000;
}

.fourth-sec button {
    padding: 32px 16px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    width: 160px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}


/* Fifth Section.................................. */
.fifth-sec {
    width: 1320px;
    height: 460px;
}

.fifth-content {
    display: flex;
    justify-content: space-between;
}

.fifth-block-1 {
    display: block;
    align-items: center;
    width: 390px;
}


.fifth-para-1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    /* text-align: center; */
}


.fifth-sec h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.fifth-sec h2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.fifth-img-1 {
    /* width: 360px;
    height: 360px; */
    padding: 15px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    overflow: hidden;
}

.fifth-block-2 {
    display: block;
    align-items: end;
    width: 270px;
}

.fifth-para-2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}


/* Sixth Section....................................... */
.sixth-sec {
    /* height: 980px; */
}

.sixth-content {
    display: flex;
    flex-direction: column;
}

.sixth-content-1 {
    text-align: center;
}


.sixth-sec h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 0%;
}

.heading {
    color: red;
}

.sixth-para-1 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0%;
}

.sixth-para-2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.sixth-images {
    display: flex;
    justify-content: space-around;
}

.sixth-image-1 {
    height: 550px;
    width: 650px;
    position: relative;
    z-index: 1;
    top: 200px;
}

.sixth-image-2 {
    height: 300px;
    width: 300px;
    position: relative;
    z-index: 1;
    top: 200px;
}


/* .Seventh Section................................ */
.seventh-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seventh-content {
    text-align: left;
}

.seventh-para-1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.seventh-sec h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.seventh-para-2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.seventh-images {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 24px;
}


/* Eighth-Section........................... */
.eighth-sec {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.eighth-content {
    padding: 80px 210px;
    text-align: center;
}

.eighth-sec h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.eighth-sec p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

form {
    margin-top: 50px;
    display: flex;
    gap: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.gmail {
    width: 450px;
    height: 50px;
    padding: 25px 30px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    font-size: 40px;
}

.submit-btn {
    width: 200px;
    height: 100px;
    padding: 25px 30px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
}